<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH" />
    <uses-permission android:name="android.permission.BROADCAST_SMS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <permission
        android:name="com.emdiem.Play.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.emdiem.Play.permission.C2D_MESSAGE" />

    <application
        android:name="com.emdiem.mix.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"
        android:enableOnBackInvokedCallback="true"
        android:usesCleartextTraffic="true"
        >
        <activity android:name="com.emdiem.mix.MainActivity.MemeSelectActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.emdiem.mix.MainActivity.PhotoProcessActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.emdiem.mix.MainActivity.MyCameraActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service android:name="com.emdiem.mix.Service.PlaybackService" />

        <meta-data
            android:name="DATABASE"
            android:value="mix.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />

        <activity
            android:name="com.emdiem.mix.SplashActivity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.emdiem.mix.MainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.emdiem.mix.NewsActivity.NewsActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/Theme.Sliding.Light" />
        <activity
            android:name="com.stickercamera.app.camera.ui.CameraActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.stickercamera.app.camera.ui.CropPhotoActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.stickercamera.app.camera.ui.AlbumActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.stickercamera.app.camera.ui.PhotoProcessActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.stickercamera.app.camera.ui.MemeSelectActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.stickercamera.app.ui.EditTextActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <service android:name="com.emdiem.mix.Service.PlaybackService" />

        <service android:name="com.emdiem.mix.Helper.MusicPlayer" />

        <receiver android:name="com.emdiem.mix.Helper.NotificationActionService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.exoplayer2.ui.PlayerNotificationManager.ACTION_PLAY" />
                <action android:name="com.google.android.exoplayer2.ui.PlayerNotificationManager.ACTION_PAUSE" />
            </intent-filter>
        </receiver>

        <service android:name="com.emdiem.mix.Helper.OnClearFromRecentService"
            tools:ignore="Instantiatable" />

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="com.emdiem.Play" />
            </intent-filter>
        </receiver> <!-- IMPORTANT: Change "YOUR_SENDER_ID" to your GCM Sender Id. -->
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:112557741590" />
    </application>

</manifest>